html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body{
  background-color: #040714;
  color: #ffffff;
  font-size: 40px !important ;
  font-family: Avenir-roman, sans-serif;
  margin: 0;
  padding: 0;
  
}

a{
  color:#f9f9f9;
  text-decoration: none;
}

@media only screen and (min-width: 760px){
  body {
    font-size: 16px;
  }
}
@media only screen and (min-with: 480px){
  body{
    font-size: 15px;
  }
}
@media only screen and (min-width: 470px){
  body{
    font-size: 14px;
  }
}